body {
    background-color: rgb(70, 70, 70);
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.page_name {
    font-size: 80px;
    text-align: center;
    color: white;
    background-color: rgb(70, 70, 70);
}

.navbar {
    display: block;
    background-color: black;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    padding: 14px 16px;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#profile-pic {
    width: 30%;
    height: auto;
}

.div1 {
    float: left;
    width: 50%;
}

.div2 {
    float: left;
    width: 50%;
}

.others {
    display: inline-block;
}

#fact-container {
  margin-top: 20px;
  font-size: 25px;
  color: rgb(255, 58, 58);
}

#quote-container {
    font-size: 25px;
    color: rgb(83, 215, 255);
}

button {
    background-color: blue;
    border: none;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.gallery_img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
  color: rgb(214, 214, 214);
  font-style: italic;
  padding: 2px;
  text-align: center;
}

/* Styling for Contact Me Form */

label {
    font-size: 30px;
} /* Input box labels */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 6px solid black;
    border-radius: 4px;
} /* Input box styling */

input[type=text]:focus {
    background-color: lightgray;
} /* Makes the input box currently selected slightly different */

input[type=submit] {
    background-color: rgb(19, 0, 185);
    font-size: 20px;
    color: white;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
} /* Styling for the submit button */
