#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#profile-pic {
    width: 30%;
    height: auto;
}

#greeting-container {
  margin-top: 20px;
}

.gallery_img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
